@import "./ct.scss";

div.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    .paper {
        overflow: hidden;
        form {
            padding: 1rem 3rem;
            display: flex;
            flex-direction: column;

            @media (width <=$br-phone) {
                padding: 1rem;
            }

            >h1 {
                text-align: center;
                margin: .5rem 0 2rem 0;
            }

            >button {
                width: fit-content;
                align-self: center;
                margin: .5rem 0;
            }

            >p:nth-of-type(1){
                margin: .5rem 0 2.5rem 0;
            }
        }
    }
}

span.helperText {
    font-size: 14px;
    > span {
        display: block;
        margin-left: .55rem;
        &:nth-of-type(1) {
            margin: .15rem 0 0 0;
            font-weight: bold;
        }

    }

    span.ok {
        color: rgb(0, 168, 0);
    }
}